<%- include ('../partials/header') %>
<main> 
  <h2>Votre panier de café</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nom du café</th>
        <th>Prix au kg</th>          
      </tr>
    </thead>
    <tbody>
      <% coffees.forEach(coffee => { %>        
        <tr>          
          <td>
            <img class="product-image" src="images/coffees/<%= coffee.reference %>.png" alt="<%= coffee.name %>" />
            <div>
              <h3><%= coffee.name %></h3>
            </div>
          </td>
          
          <td>
            <p><%= coffee.price %></p>
          </td>          
          
          <td>
            <a href="#">Enlever de la liste</a>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table> 
</main>
<%- include ('../partials/footer') %>