<%- include ('../partials/header') %>
<main>
  <div class="banner">
    <h1 class="banner-title">NOTRE CATALOGUE</h1>
  </div>
  <div class="product-list catalog">
    <% coffees.forEach(coffee => { %>
    <article class="product-card">
      <header class="card-header">
        <img
          class="product-image"
          src="/images/coffees/<%= coffee.reference %>.webp"
          alt="<%= coffee.name %>"
        />
        <h3 class="product-title"><%= coffee.name %></h3>
      </header>
      <section class="card-content">
        <p><%= coffee.description %></p>
      </section>
      <footer class="card-footer">
        <a href="/article/<%= coffee.id %>">
          <button class="card-button">Découvrir</button>
        </a>
        <a href="/boutique/add/<%= coffee.id %>" class="add-to-cart"
          ><span>+ Ajouter au panier</span></a
        >
      </footer>
    </article>
    <% }) %>
  </div>
  <% if(coffees.length-1 < 3){ %>
  <div class="button-container">
    <a href="/catalogue/all-coffees">
      <button class="button-catalogue">Voir tous les produits</button>
    </a>
  </div>
  <%}%>
</main>
<%- include ('../partials/footer') %>
