<%- include ('../partials/header') %>
<main>
  <div class="banner">
    <h1 class="banner-title">NOTRE CATALOGUE</h1>
  </div>
  <div class="product-list catalog">
    <% coffees.forEach(coffee => { %>
      <article class="product-card">
        <header class="card-header">
          <img class="product-image" src="images/coffees/<%= coffee.reference %>.png" alt="<%= coffee.name %>" />
          <h3 class="product-title"><%= coffee.name %></h3>
        </header>
        <section class="card-content">
          <p><%= coffee.description %></p>
        </section>
        <footer class="card-footer">
          <a href="article/<%= coffee.id %>" target="_blank">
            <button class="card-button">Découvrir</button>
          </a>
        </footer>
      </article>
    <% }) %> 
  </div>
  <div class="button-container">
    <button class="button-catalogue">Voir tous les produits</button>
  </div>        
</main>
<%- include ('../partials/footer') %>