<%- include ('../partials/header') %>
<main>
  <div class="banner">
    <h1 class="banner-title">NOTRE CATALOGUE</h1>
  </div>
  <div class="product-list catalog">
    <% randomCoffees.forEach(random => { %>
      <article class="product-card">
        <header class="card-header">
          <img class="product-image" src="images/coffees/<%= random.reference %>.png" alt="<%= random.name %>" />
          <h3 class="product-title"><%= random.name %></h3>
        </header>
        <section class="card-content">
          <p><%= random.description %></p>
        </section>
        <footer class="card-footer">
          <a href="article/<%= random.id %>" target="_blank">
            <button class="card-button">Découvrir</button>
          </a>
        </footer>
      </article>
    <% }) %>    
  </div>
  <button class="button-catalogue">Voir tous les produits</button>      
</main>
<%- include ('../partials/footer') %>