<%- include ('../partials/header') %>
<main class="article-unique">
  <div class="product-list">
    <article class="product-card">
      <header class="card-header">
        <img class="product-image detail" src="/images/coffees/<%= coffee.reference %>.png" alt="<%= coffee.name %>"/>
        <h3 class="product-title">Café <%= coffee.origin %> : <%= coffee.name %></h3>
      </header>
      <section class="card-content">
        <p><%= coffee.description %></p>
      </section>
      <a href="/catalogue" class="button">Retour au catalogue</a>     
    </article>
</main>
<%- include ('../partials/footer') %>