<%- include ('../partials/header') %>
<main class="article-unique">
  <div class="product-list">
    <article class="product-card">
      <header class="card-header">
        <img class="product-image detail" src="/images/coffees/<%= coffee.reference %>.png" alt="<%= coffee.name %>"/>
        <h3 class="product-title"><%= coffee.name %></h3>
      </header>
      <section class="card-content">
        <ul>
          <li><%= coffee.description %></li>         
          <li>Référence : <%= coffee.reference %></li>
          <li>Origine du produit : <%= coffee.origin %></li>
          <li>Prix : <%= coffee.price_kg %> €/kg</li>
          <li>Caractéristique principale : <%= coffee.cat_name %></li>
          <li>Disponibilité : <%= coffee.available %></li>
        </ul>
      </section>
      <a href="/boutique/add/<%= coffee.id %>">Ajouter au panier</a>
      <a href="/catalogue" class="button">Retour au catalogue</a>     
    </article>
</main>
<%- include ('../partials/footer') %>